/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

 @font-face {
  font-family: "Relief Single Line Outline Regular";
  src: url("/static/font/ReliefSingleLineOutline-Regular.woff2") format("woff2 supports variations"),
    url("/static/font/ReliefSingleLineOutline-Regular.woff2") format("woff2-variations");
  font-weight: 200 2400;
  font-stretch: 75% 150%;
}

html {
  font-family: "Relief Single Line Outline Regular";
}

h1,
h2 
{
  font-family: "Relief Single Line Outline Regular";
  text-transform: uppercase;
}

h3,
h4,
h5,
h6 {
  font-family: "Relief Single Line Outline Regular";
}

.medium-zoom-overlay,
.medium-zoom-image--opened {
  z-index: 999;
}

table td, table td * {
    vertical-align: top;
}

article h1 {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}

.head2_nolink {
	display: block !important;
	font-size: 24pt;
	font-weight: bold;
  	margin-top: -6pt !important;
	padding-top: 0 !important;
}

/* You can override the default Infima variables here. */
:root[data-theme='light'] {
  /* --ifm-color-primary: #de1f26;
  --ifm-color-primary-dark: #c81c22;
  --ifm-color-primary-darker: #bd1a20;
  --ifm-color-primary-darkest: #9b161b;
  --ifm-color-primary-light: #e3343a;
  --ifm-color-primary-lighter: #e43f45;
  --ifm-color-primary-lightest: #e96065; */
  --ifm-color-gray-500: #d1d1d1;
  --ifm-hover-overlay: rgba(0, 0, 0, 0.2);
  --ifm-background-color: var(--ifm-color-gray-500);
  --ifm-color-primary-contrast-background: var(--ifm-color-gray-500);
  --ifm-color-content: var(--ifm-color-gray-1000);
  --ifm-color-content-secondary: var(--ifm-color-gray-1000);
  --ifm-menu-color: var(--ifm-color-gray-1000);
  --ifm-menu-color-active: var(--ifm-color-gray-1000);
  --ifm-breadcrumb-color-active: var(--ifm-color-gray-1000);
  --ifm-toc-link-color: var(--ifm-color-gray-1000);
  --ifm-color-primary: #7c4200;
  --ifm-color-primary-dark: #c16b09;
  --ifm-color-primary-darker: #b66508;
  --ifm-color-primary-darkest: #965307;
  --ifm-color-primary-light: #eb830b;
  --ifm-color-primary-lighter: #f4890e;
  --ifm-color-primary-lightest: #f5982e;
  --ifm-hr-color: var(--ifm-color-gray-1000); /* Light mode HR color */
}

:root[data-theme='dark'] {
  /* --ifm-color-primary: #de1f26;
  --ifm-color-primary-dark: #c81c22;
  --ifm-color-primary-darker: #bd1a20;
  --ifm-color-primary-darkest: #9b161b;
  --ifm-color-primary-light: #e3343a;
  --ifm-color-primary-lighter: #e43f45;
  --ifm-color-primary-lightest: #e96065; */
  --ifm-hover-overlay: rgba(255, 255, 255, 0.2);
  --ifm-background-color: var(--ifm-color-gray-900);
  --ifm-color-content: var(--ifm-color-gray-0);
  --ifm-color-content-secondary: var(--ifm-color-gray-0);
  --ifm-menu-color: var(--ifm-color-gray-0);
  --ifm-breadcrumb-color-active: var(--ifm-color-gray-0);
  --ifm-menu-color-active: var(--ifm-color-gray-0);
  --ifm-toc-link-color: var(--ifm-color-gray-0);
  --ifm-color-primary: #d6770a;
  --ifm-color-primary-dark: #c16b09;
  --ifm-color-primary-darker: #b66508;
  --ifm-color-primary-darkest: #965307;
  --ifm-color-primary-light: #eb830b;
  --ifm-color-primary-lighter: #f4890e;
  --ifm-color-primary-lightest: #f5982e;
  --ifm-hr-color: var(--ifm-color-gray-0); /* Dark mode HR color */
}

hr {
  border: none !important;
  height: 2px !important;
  background-color: var(--ifm-hr-color) !important;
}
